td {
  padding: 5px;
  text-align: center;
}
tfoot {
  border-top: 3px solid black;
}
thead {
  border-bottom: 3px solid black;
}
th {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: lightgray;
}
tbody tr:hover {
  background-color: black;
  color: white;
}
.wrapper {
  padding-top: 30px;
  margin-left: -300px;
}
.vertical-line {
  background: #ccc;
  width: 10px;
  height: 150px;
  margin: 0 auto;
}
.vertical-line::before {
  content: "";
  display: block;
  background: #009fdf;
  width: 100%;
  height: 0;
  margin: auto;
}
.animate .vertical-line::before {
  transition: height 1s linear;
  height: 150px;
}
.horizontal-line {
  background: #ccc;
  height: 10px;
  width: 290px;
  margin: 80px auto;
  position: relative;
  left: 225px;
}
.horizontal-line::before {
  content: "";
  position: absolute;
  background: #009fdf;
  width: 0;
  height: 10px;
  margin: auto;
  left: 5px;
}
.animate .horizontal-line::before {
  transition: width 0.5s linear;
  width: 290px;
}
.bucket {
  background-color: #ccc;
  height: 120px;
  width: 120px;
  margin: auto;
  position: relative;
  left: 450px;
}
.bucket::before {
  content: "";
  position: absolute;
  background: #009fdf;
}
.animate .bucket::before {
  transition: height 1s linear;
}
.corner {
  position: absolute;
  width: 90px;
  height: 90px;
}
.corner__left {
  top: -80px;
  left: -85px;
}
.corner__right {
  bottom: -80px;
  right: -85px;
}
.corner path {
  stroke-width: 11px;
  fill: none;
}
.corner .grey-path {
  stroke: #ccc;
}
.corner .blue-path {
  stroke: #009fdf;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}
.animate .corner .blue-path {
  animation: corner-fill linear 0.5s forwards;
}
@keyframes corner-fill {
  to {
    stroke-dashoffset: 0;
  }
}
.animate .anim-1st {
  animation-delay: 0s;
}
.animate .anim-2nd::before {
  transition-delay: 1s !important;
}
.animate .anim-3rd {
  animation-delay: 2s !important;
}
.animate .anim-4th::before {
  transition-delay: 2.4s !important;
}
.animate .anim-5th {
  animation-delay: 2.9s !important;
}
.animate .anim-6th::before {
  transition-delay: 4.4s !important;
}
.animate .anim-7th {
  animation-delay: 4.9s !important;
}
